@font-face {
  font-family: 'CYN Gamer';
  src: url('../../vendor/fonts/CYN_Gamer.otf') format('opentype');
}

body {
  background: black;
  font-family: 'CYN Gamer', sans-serif;
  color: white;
  text-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  display: initial;
  user-select: none;
}

h1, h2, h3 {
  margin: 0;
}

button {
  font-family: inherit;
  background-color: white;
  color: green;
  width: 100%;
  padding: 1em;
}

.d-none {
  display: none !important;
}

.blur {
  filter: blur(10px);
}

#game-canvas, #game-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#game-overlay-hud, .menu {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.menu {
  display: none;
  justify-content: center;
  align-items: center;
}

[data-current-menu=main-menu] [data-menu=main-menu],
[data-current-menu=pause-menu] [data-menu=pause-menu],
[data-current-menu=level-1] [data-menu=level-1],
[data-current-menu=level-2] [data-menu=level-2],
[data-current-menu=game-over] [data-menu=game-over],
[data-current-menu=game-completed] [data-menu=game-completed] {
  display: flex;
}

.menu-background {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em;
  text-align: center;
  max-width: 720px;
}

#game-overlay-hud {
  pointer-events: none;
}

#game-overlay-hud-countdown {
  padding: 1rem;
}

#game-overlay-hud-countdown-value {
  font-size: 1.5rem;
}

#game-overlay-hud-wealth {
  margin-top: auto;
  padding: 1rem;
}

#game-overlay-hud-wealth-bar {
  background-color: #333333;
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.125);
}

#game-overlay-hud-wealth-bar-fill {
  width: 100%;
  background-color: red;
}

#game-overlay-hud-wealth-bar-fill::after {
  content: attr(data-text);
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
  word-break: initial;
  overflow-wrap: initial;
}
